Source: ecto-amoeba-opencv
Priority: extra
Maintainer: Ethan Rublee <erublee@willowgarage.com>
Build-Depends: debhelper (>=7.0.50),
    cmake (>= 2.8),
    ecto-amoeba
Standards-Version: 3.9.1
Section: libs
Homepage: http://ecto.willowgarage.com/
Vcs-Git: git://github.com/plasmodic/ecto.git
Vcs-Browser: https://github.com/plasmodic/ecto

Package: ecto-amoeba-opencv
Section: libdevel
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: ecto-amoeba-opencv
    opencv bindings for ecto.

